.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-block;
}

body {
	box-sizing:border-box;
	margin:0;
	color: white;
	background-image: url('../images/picture.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: 'Calibri';
	width: 100%;
	height: 100%;
}

.alertsContainer{
	position:fixed;
	display:block;
	top:20px;
	right:20px;
	width:200px;
}

.alertsContainer .alert{
	display:none;
	border:1px solid white;
	margin-bottom:10px;
	border-radius:5px;
	padding:5px;
}

a.button{
	float:right;
	padding:3px 15px;
	border-radius:3px;
	background-color: hsl(50, 30%, 90%);
	border : 1px solid hsl(50, 30%, 50%);
	color : black;
	cursor : pointer;
	text-decoration:none;
}

a.button:hover{
	box-shadow: 0 0 5px #DEB887;
	border-color : #2E8AE6;
}

.centered{
	text-align:center;
}

input {
	color: black;
	border: 1px solid #DEB887;
	box-shadow: 0 0 7px #DEB887;
	background: hsl(50, 30%, 90%);
	padding: 3px;
}

input:hover, input:focus{
	box-shadow: 0 0 14px #DEB887;
}