.container {
	margin: 80px auto;
	width: 640px;
}

div.formContainer {
	position: relative;
	margin: 0 auto;
	padding: 20px 20px 20px;
	width: 340px;
	border-radius: 40px;
	background-color: rgba(0, 0, 0, 0.7);
}

h1 {
	text-align: center;
}

input {
	float: right;
	width: 200px;
}

div.formfield {
	padding-top: 10px;
}

div.formfield.clearfix {
	display: block;
}

div.formfield.required label {
	width: 120px;
}

div.formfield.required label:after {
	content: "*";
	position: relative;
	top: -0.1em;
}

.centered a{
	color : #FFFFCC;
}

.errorMessage{
	color:red;
}

